.App {
  font-family: sans-serif;
  text-align: center;
}

html {
  box-sizing: border-box;
}

*, *:after, *:before {
  box-sizing: inherit;
}
#root {
  margin: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
#wrapper {
  display: flex;
  justify-content: center;
}
.step {
  width: 80%;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 500px;
  position: absolute;
  border: 2px solid #444;
  border-radius: 10px;
  padding: 70px 50px 50px;
}
.error {
  font-size: 12px;
  top: -20px;
  font-style:italic;
  color: #D8000C;
}
.navigation {
  margin-top: 60px;
}
input[type="radio"] {
  opacity: 0;
  position: fixed;
  width: 0;
}
label.radio {
  text-align: center;
  width: 100%;
  cursor: pointer;
  display: inline-block;
  background-color: #ddd;
  padding: 10px 20px;
  border: 2px solid #444;
  border-radius: 4px;
  margin-bottom: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}
label.radio:hover {
  background-color: #dfd;
}
input[type="radio"]:focus + label.radio {
  border: 2px solid #444;
}
input[type="radio"]:checked + label.radio {
  background-color: #bfb;
  border-color: #4c4;
}
.react-datetime-picker__wrapper {
  border: 1px solid #ced4da;
  border-radius: .25rem;
  width: 100%;
  height: calc(1.5em + .75rem + 2px);
  padding: .375rem .75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #495057;
  background-color: #fff;
}
.react-datetime-picker {
  display: flex;
  width: 50%;
}
